<h1> Random Number </h1>
<p> <%= message %> </p>
<p> <%= output %> </p>
<h5>Integer Output ...</h5>
<p> <%= someNbr %> </p>
<p>Random Number: <%= randNbr %></p>
<p>Random with spcial chars:  <%= randNbrSpecial %></p>
